<div id="footer">
<a href="https://github.com/SarahMoe/nieuws">GITHUB</a>
  <div id="blok">
    <a class="foot" href="#">Contact Us</a>
    <a class="foot" href="#">Facebook</a>
    <a class="foot" href="#">Instagram</a>
  </div>
Het Laatste Nieuws NV -
Wereldstraat 344 -
2000 Antwerpen


</div>
  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>


  </body>
</html>
